.state-hook{
    &.container {
        display: flex;
        flex-direction: column;
        // justify-content: flex-start; Not needed as it's flex default
    }

    .form-row{
        display: flex;
        flex-direction: row;
    }
}