.state-hook{
    &.container {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        // justify-content: flex-start;
    }
    
    .button-align-left {
        float: left;
    }
}