.side-effect {
    &.container{
        display: flex;
        flex-direction: column;
    }

    .api-result-wrapper {
        font-size: 1em;
        height: 200px;
        width: 450px;
        
        &.with-scroll{
            overflow: scroll;
        }
    }    
}